<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: head(~{::title})">
    <title>Log In</title>
</head>
<body>

    <nav th:replace="base :: navbar"></nav>

    <div th:replace="base :: messages"></div>

    <main class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-8">
                <form method="post" th:action="@{/login}" >
                    <div class="mb-3 form-floating">
                        <input id="email" class="form-control" type="email" name="email" placeholder="Email" />
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input id="password" class="form-control" type="password" name="password" placeholder="Password" />
                        <label for="password" class="form-label">Password</label>
                    </div>

                    <div class="mb-3 form-check">
                        <input class="form-check-input" id="remember-me" type="checkbox" name="remember-me" />
                        <label class="form-check-label" for="remember-me">Remember Me</label>
                    </div>

                    <button class="btn btn-primary mb-3" type="submit"><i class="fas fa-sign-in-alt"></i> Log In</button>

                    <p class="form-text">Don't have an account? <a th:href="@{/register}">Register for one.</a></p>
                </form>

            </div>
        </div>
    </main>

    <th:block th:replace="base :: scripts"></th:block>

</body>
</html>