<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: head(~{::title})">
    <title>Register</title>
</head>
<body>

    <nav th:replace="base :: navbar"></nav>

    <div th:replace="base :: messages"></div>

    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">

                <form method="post" th:action="@{/register}" th:object="${userForm}">
                    <div class="mb-3 form-floating">
                        <input class="form-control" th:class="${#fields.hasErrors('firstName')} ? 'is-invalid form-control' : 'form-control'" th:field="*{firstName}" required="required" placeholder="First Name" />
                        <label class="form-label" th:for="firstName">First Name</label>
                        <div th:if="${#fields.hasErrors('firstName')}" class="error" th:errors="*{firstName}"></div>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" th:class="${#fields.hasErrors('lastName')} ? 'is-invalid form-control' : 'form-control'" th:field="*{lastName}" required="required" placeholder="Last Name" />
                        <label class="form-label" th:for="lastName">Last Name</label>
                        <div th:if="${#fields.hasErrors('lastName')}" class="error" th:errors="*{lastName}"></div>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" th:class="${#fields.hasErrors('email')} ? 'is-invalid form-control' : 'form-control'" th:field="*{email}" required="required" placeholder="Email" />
                        <label class="form-label" th:for="email">Email</label>
                        <div th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}"></div>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" th:class="${#fields.hasErrors('password')} ? 'is-invalid form-control' : 'form-control'" th:field="*{password}" type="password" required="required" placeholder="Password" />
                        <label class="form-label" th:for="password">Password</label>
                        <div th:if="${#fields.hasErrors('password')}" class="error" th:errors="*{password}"></div>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" th:class="${#fields.hasErrors('verifyPassword')} ? 'is-invalid form-control' : 'form-control'" th:field="*{verifyPassword}" type="password" required="required" placeholder="Verify Password" />
                        <label class="form-label" th:for="verifyPassword">Verify Password</label>
                        <div th:if="${#fields.hasErrors('verifyPassword')}" class="error" th:errors="*{verifyPassword}"></div>
                    </div>

                    <p class="form-text">Passwords must be at least 8 characters long</p>

                    <input type="submit" value="Register" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </main>

    <th:block th:replace="base :: scripts"></th:block>

</body>
</html>